html, body{
    width: 100%;
    margin:0;
    padding: 0px;
    overflow-x:hidden;
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* NAVIGATION */

.navbar{
    padding-top: 40px;
    background-color: #fdfdfe!important;
}

.navbar-brand{
    color: #fcae61!important;
    font-weight: 600;
    font-size: 30px;
    
}

.navbar{
    font-size: 16px;
}

.nav-item{
    padding: 10px;
}

.nav-link{
    color: #242f51!important;
    font-weight: 600;
}

.btn{
    background-color: #2500f9!important;
    color: white;
    border-radius: 30px;
    font-weight: 700;
    padding: 10px 30px;
    margin-left: 40px;
}

.btn:hover{
    color:  #2500f9;
    background-color: white!important;
    border-color: #2500f9;
}

.section-1{
    height: calc(100vh - 114px);
    background: url('Header.png') bottom no-repeat;
    background-size: cover;  
}

.section-1 .row .col_1{
    padding-top: 200px;
}

.section-1 .row .col_1 h1{
    font-size: 60px;
    font-weight: 600;
    color: #242f51;
    padding: 20px 0px;
}

.section-1 .row .col_1 p{
    font-weight: 500;
    color: #616368;
    padding-bottom: 15px;
    padding-right: 80px;
}

.section-1 .row .col_2{
    padding-left: 50px;
}

.section-1 .row .app{
    background-color: #e2eaed;
    border-radius: 30px;
    width: 350px;
    font-size: 18px;
    font-weight: 500;
}

.section-1 .row .app img{
    background-color: #feaa25;
    border-radius: 30px;
    padding: 10px 12px;
}

.section-1 .row .btn{
    margin-left: 0px;
}

.section-1 .row a{
    color: #2500f9;
    font-weight: 500;
    padding-left: 10px;
}

.section-1 .row h1{
    font-size: 60px;
}


.section-2{
    text-align: center;
    padding-top: 100px;
}


.section-2 p{
    font-size: 16px;
    font-weight: 500;
}

.section-2 img{
    padding: 0px 30px;
}

.section-2 .features{
    margin-top: 200px;
}

.section-2 .features .row .col_3 img{

}

.section-2 .features .row h2{
    font-size: 36px;
    font-weight: 700;
    
}

.section-2 .features .row .col_4{
    text-align: left;
}

.section-2 .features .fast_perfomance{
    display: flex;
    
}

.section-2 .features .fast_perfomance img{
   margin-left: 0px; 
   margin-top: 15px;
}

.section-2 .features .fast_perfomance h3{
    font-size: 20px;
    font-weight: 700;
 }

.section-2 .features .row_2{
    padding-bottom: 100px;
}

 .section-2 .features .row_2 h2{
     font-weight: 600;
     font-size: 40px;
     text-align: left;
 }

 .section-2 .features .row_2 p{
     text-align: left;
     font-size: 16px;
     font-weight: 400;
     letter-spacing: 1px;
 }


 .section-2 .features .row_2 .column1{
     margin-top: 100px;
     border-right: solid 2px #b9b9b8;
 }

 .section-2 .features .row_2 .column2{
     padding-top: 140px;
     padding-left: 30px;
 }

 .section-3{
    text-align: left;
     
 }

 .section-3 .row .header{
     padding-top: 30px
 }

 .section-3 .row .header h3{
     font-weight: 600;
     font-size: 20px;
 }

 .section-3 .row .paragraph{
    font-size: 16px;
    padding-top: 10px;
 }

 .section-4{
    padding-top: 100px;
    padding-bottom: 60px;
 }

.section-4 .text{
    position: relative;
    margin: 0;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

 .section-4 .row h3{
     font-size: 36px;
     font-weight: 600;
     color: #242f51;
 }

 .section-4 .row p{
     font-size: 16px;
     font-weight: 500;
     color: #616368;
 }

 .section-4 .btn{
     margin: 0;
     margin-top: 15px;
 }

 .section-5{
     text-align: center;
     border-top: 2px #f4f4f4 solid;
     padding-top: 100px;
 }

 .section-5 .header h2{
     font-size: 36px;
     font-weight: 600;
     color: #242f51;
 }

 .section-5 .header p{
     padding-top: 20px;
     padding-bottom: 50px;
     font-size: 16px;
     font-weight: 500;
     color: #86888b;
 }

 .section-5 .row img{
     padding-top: 30px;
    padding-bottom: 30px;
 }

 .section-5 .row h3{
     color: #242f51;
     font-size: 20px;
     font-weight: 700;
 }

 .section-5 .row p{
     padding: 0px 30px;
     font-size: 16px;
     font-weight: 500;
     color: #86888b;
 }

 .section-6{
    text-align: left;
    padding-top: 130px;
    position: relative;
 }

 .section-6 .header{
    display: inline-block;
    width: 400px;
 }

 .section-6 .header h2{
    font-size: 36px;
    font-weight: 600;
    color: #242f51;
 }

 .section-6 .header p{
    font-size: 16px;
    font-weight: 500;
    color: #86888b;
 }

 .section-6 .col-sm-6:nth-child(1),
  .section-6 .col-sm-6:nth-child(3){
    padding-right: 30px;
}

.section-6 .col-sm-6:nth-child(2),
.section-6 .col-sm-6:nth-child(4){
      padding-left: 30px;
  }
 
.section-6 .col-sm-6 img{
    padding-bottom: 25px;
}

.section-6 .col-sm-6 h3{
    color: #242f51;
    font-size: 20px;
    font-weight: 700;
}

.section-6 .col-sm-6 p{
     font-size: 16px;
     font-weight: 500;
     color: #86888b;
     padding-bottom: 30px;
     padding-right: 50px;
}

.section-6 .btn{
    padding: 15px 60px;
    margin-left: 0px;
}

 .section-6 .phone-img{
     background: url(Phone4.png) left no-repeat;
     position: absolute;
     right: -20px;
     top: 155px;
     width: 763px;
     height: 807px;
 }


 .section-7{
     text-align: center;
     padding-top: 130px;
     min-height: 1100px;
     border-bottom: 2px #f4f4f4 solid;
 }

 .section-7 .container{
    width: 675px;
 }

 .section-7 .header h2{
    font-size: 36px;
    font-weight: 600;
    color: #242f51;
 }

 .section-7 .header p{
    font-size: 16px;
    font-weight: 500;
    color: #86888b;
    padding-top: 20px;
    padding-bottom: 50px;
 }

 /* Style the tab */
 .section-7 .tab {
    overflow: hidden;
    border: 1px solid #ebebeb;
    background-color: white;
    border-radius: 30px;
    width: auto;
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .section-7 .tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 30px;
    color:#dadadb;
    background-color: white;
    font-weight: 600;
    padding: 10px 30px;
  }
  
.section-7 .tab button:first-child{
    margin-right: 5px;
} 
  
  /* Create an active/current tablink class */
  .section-7 .tab button.active {
    background-color:  #2500f9;
  }
  
  /* Style the tab content */
  .section-7 .tabcontent {
    display: none;
    padding-top: 35px;
    border-top: none;
  }

.section-7 #Monthly{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


.section-7 .cena1{
    float: left;
    background-color: #f9fafc;
}

.section-7 .cena2{
    float: right;
    background-color: #f9fafc;
}

.section-7 .span1{
    font-weight: 600;
    font-size: 60px;
    color: #242f51;
}

.section-7 .span2{
    font-size: 18px;
    color: #abaeb5;
    font-weight: 500;
}


.section-7 .cena1, .cena2{
    width: 300px;
    box-shadow:  0 40px 20px 10px rgba(245, 247, 248, 1);
    border-radius: 10px;
    padding-top: 30px;
}

.section-7 .cena1:hover{
    border: 2px solid #ebebeb;
}

.section-7 .cena2:hover{
    border: 2px solid #ebebeb;
}

.section-7 .tabcontent h3{
    font-size: 20px;
    color: #242f51;
    font-weight: 700;
}

.section-7 .tabcontent p{
    font-size: 16px;
    color: #999ca5;
    font-weight: 500;
}

.section-7 .desc{
    background-color: white;
    min-height: 320px;
}

.section-7 .desc .cena2{
    background-color: white;
    min-height: 360px;
}

.section-7 .desc ul{
    list-style: none;
    padding-inline-start:0;
    color: #86888b;
    font-weight: 500;
}

.section-7 .desc ul li{
    padding-top: 30px;
}

.section-7 .desc .btn{
    margin-left: 0px;
    margin-top: 15px;
    padding: 12px 40px;
    margin-bottom: 20px;
    font-weight: 500;
}

.section-7 .desc a{
    color: #2500f9;
    font-size: 16px;
    font-weight: 600;
}

.section-8{
    margin-top: 130px;
}

.section-8 .row{
    width: 80%;
    margin: 0 auto;
}

.section-8 h2{
    font-size: 40px;
    color: #242f51;
    font-weight: 700;
    padding-bottom: 15px;
}

.section-8 p{
    font-size: 16px;
    font-weight: 500;
    color: #86888b;
    padding-bottom: 20px;
}

.section-8 h3{
    color: #242f51;
    font-weight: 700;
    padding-bottom: 15px;
    font-size: 20px;
    padding-top: 30px;
}

.carousel-caption{
    top: 3px;
    left: -200px;
    color: #000;
}

.carousel-caption h4{
    font-size: 18px;
    font-weight: 700;
    color: #242f51;
}

.arrows {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 25%;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    right: 0;
    margin: 0 20px;
}

.arrows a:hover{
    background-color: #e0e3e7;
    color: #644bf9;
}

.arrows a{
    color: #e0e3e7;
    width: 40px;
    height: 40px;
}

.arrows .prev, .arrows .next{
    border: 1px solid #e0e3e7;
    border-radius: 30px;
    padding-top: 8px;

}

.arrows .prev{
    margin-right: 10px;
}

.section-9{
    padding: 100px 0px;
}

.section-9 .header{
    text-align: center;
}

.section-9 .header h2{
    font-size: 40px;
    font-weight: 700;
    color: #242f51;
}

.section-9 .header p{
    font-size: 16px;
    font-weight: 500;
    color: #86888b;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 650px;
    margin: 0 auto;
}


.section-9 .faq a {
    text-decoration: none;
    color: inherit;
}

.section-9 .faq ul li{
    background-color: #f5f7fa;
    padding: 20px 30px;
    margin: 15px 0px;
}
.section-9 .faq p {
    font-size: 16px;
    font-weight: 500;
    color: #86888b;
    margin: 0!important;
}


.section-9 .faq ul {
    list-style: none;
    padding: 0;
}

.section-9 .faq ul .toggle h3{
    font-size: 20px;
    font-weight: 700;
    color:  #242f51;
}

.section-9 .faq ul .inner {
    overflow: hidden;
     display: none;
}

.section-10{
    border-top: 2px #f4f4f4 solid;
}

.section-10 .col_1{
    padding: 100px 0px 100px 300px;
}

.section-10 .col_1 img{
    margin-right: 30px;
}

.section-10 .col_2{
    right: 100px;
}

.section-10 .col_2 img{
    position: absolute;
    bottom: 0;
}

.section-10 .header h2{
    font-weight: 700;
    font-size: 42px;
    color: #242f51;
    padding-bottom: 15px;
}

.section-10 .header p{
    font-size: 16px;
    font-weight: 500;
    color: #86888b;
    padding-bottom: 30px;
}

.section-10 footer{
    background-color: #09142e;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0px 150px 0px;
}

.section-10 footer h2{
    color: #fcae61;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 40px;
}

.section-10 footer a{
    text-decoration: none;
}

.section-10 footer .links a{
    padding: 0px 20px 0px 20px;
    color: #fff;
}

.section-10 footer .links a:hover{
    color: #273043;
}

.section-10 footer .links{
    padding-bottom: 30px;
}

.section-10 footer .socials a{
    padding: 0px 10px 0px 10px;
    font-size: 30px;
    color: #273043;
}

.section-10 footer .socials a:hover{
    color: #fff;
}

.section-10 footer p{
    color: #363f55;
    font-weight: 600;
    font-size: 14px;
    margin-top: 80px;
}

/* telefony */

@media (min-width: 320px) and (max-width: 767px){
    .section-1 .row .col_1{
        padding-top: 80px;
    }
    .section-1 .row .col_1 h1{
        font-size: 45px;
    }
    .section-1 .row .app{
        width: 330px;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .section-1 .row .col_2{
        display: none;
    }
    .section-1 .row .col_1 p{
        padding-bottom: 10px;
        padding-right: 0px;
    }
    .section-1 .row .btn{
        font-size: 13px;
    }
    .section-1 .row a{
        font-size: 13px;
    }
    .section-2 img{
        padding: 20px 30px;
    }
    .section-2 .features{
        margin-top: 20px;
    }
    .section-2 .features .row_2{
        padding-bottom: 40px;
    }
    .section-2 .features .row_2 .column1{
        border-bottom: solid 2px #b9b9b8;
        border-right: none;
        margin-top: 50px;
    }
    .section-2 .features .row_2 h2{
        font-size: 38px;
        padding-bottom: 40px;
    }
    .section-2 .features .row_2 .column2{
        padding-top: 45px;
        padding-left: 20px;
    }
    .section-6 .phone-img{
        display: none;
    }
    .section-4{
        padding-top: 50px;
     }
    
    .section-5{
        padding-top: 50px;
    }
    .section-6{
        text-align: left;
        padding-top: 50px;
        position: relative;
     }
    .section-6 .header{
        width: 350px;
        margin-bottom: 30px;
    }
    .section-6 .col-sm-6:nth-child(1),
    .section-6 .col-sm-6:nth-child(3){
      padding-left: 30px;
    }
    .section-7 .cena1, .cena2{
        margin: 0 auto;
        width: 100%;
        margin-bottom: 50px;
    }
    .section-8 .col-1{
        display: none;
    }
    .carousel-caption{
        left: 40px;
    }
    
    .carousel-caption h4{
        font-size: 10px;
    }
    .carousel-caption p{
        font-size: 10px;
    }
    .carousel-item img{
        width: 60px;
        height: 60px;
        margin-top: 10px;
    }
    .arrows a{
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }
    .arrows .prev, .arrows .next{
        padding-top: 3px;
    
    } 
    .arrows .prev{
        margin-right: 5px;
    }
    .section-9 .header p{
        font-size: 16px;
        font-weight: 500;
        color: #86888b;
        padding-top: 20px;
        padding-bottom: 50px;
        width: 100%;
        margin: 0 auto;
    }
    .section-10 .col_1{
        padding: 50px 20px 20px 60px;
    }
    .section-10 .header p{
        padding-bottom: 30px;
    }
    .section-10 .col_1 img{
        margin-right: 0px;
        width: 135px;
        height: 45px;
    }
    .section-10 .col_2 img{
        position: relative;
        bottom: 0;
        left: 70px;
    }
}

@media (min-width: 768px){
        
    .section-4 .col-md-6:nth-child(1){
        padding-right: 50px;
        padding-left: 0px;
    }

    .section-4 .col-md-6:nth-child(2){
        padding-right: 0px;
        padding-left: 50px;
    }
   
}

@media (max-width: 767px){
        
    .section-4 .col-md-6:nth-child(1){
        margin-bottom: 30px;
    }

    .container{
        width: 90%!important;
        min-width: 90%!important;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    .section-1 .col_2 img{
        width: 426px;
        height: 750px;
    }
    .section-1 .row .col_1{
        padding-top: 100px;
    }
    .section-2 img{
        padding: 20px 30px;
    }
    .section-6 .phone-img{
        right: -230px;
        top: 155px;
        z-index: -999;
        opacity: 0.8;
    }
    .section-10 .col_1{
        padding: 50px 20px 20px 60px;
    }
    .section-10 .col_2 img{
        position: absolute;
        bottom: 0;
        left: 70px;
    }
    .section-10 .col_1 img{
        margin-right: 0px;
        width: 135px;
        height: 45px;
    }
    .section-8 .col_1 img{
       opacity: 0.3;
    }
    .carousel-caption{
        left: 40px;
    }
    
    .carousel-caption h4{
        font-size: 10px;
    }
    .carousel-caption p{
        font-size: 10px;
    }
    .carousel-item img{
        width: 60px;
        height: 60px;
        margin-top: 10px;
    }
    .arrows a{
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }
    .arrows .prev, .arrows .next{
        padding-top: 3px;
    
    } 
    .arrows .prev{
        margin-right: 5px;
    }
}

@media (min-width: 1281px) {
    .section-1 .col_2 img{
        width: 426px;
        height: 750px;
    }
    .section-6 .phone-img{
        z-index: -999;
        opacity: 0.8;
    }
}

@media (max-width: 1600px){
    .section-8 .col_1 img{
        opacity: 0.3;
     }
     .carousel-caption{
        left: 40px;
    }
    
    .carousel-caption h4{
        font-size: 15px;
    }
    .carousel-caption p{
        font-size: 15px;
    }
    .carousel-item img{
        width: 80px;
        height: 80px;
        margin-top: 10px;
    }
    .arrows a{
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }
    .arrows .prev, .arrows .next{
        padding-top: 3px;
    
    } 
    .arrows .prev{
        margin-right: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-1 .col_2 img{
        width: 426px;
        height: 750px;
        margin-right: 40px;
    }
    .section-1 .row .col_1{
        padding-top: 100px;
    }
    .section-2 img{
        padding: 20px 30px;
    }
    .section-6 .col-md-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .section-6 .phone-img{
        display: none;
    }
    .section-8 .col_1 img{
        opacity: 0.3;
     }
    .section-10 .col_1{
        padding: 50px 20px 20px 60px;
    }
    .section-10 .col_2 img{
        position: absolute;
        bottom: 0;
        left: 70px;
    }
    .section-10 .col_1 img{
        margin-right: 0px;
        width: 135px;
        height: 45px;
    }
    .carousel-caption{
        left: 40px;
    }
    
    .carousel-caption h4{
        font-size: 10px;
    }
    .carousel-caption p{
        font-size: 10px;
    }
    .carousel-item img{
        width: 60px;
        height: 60px;
        margin-top: 10px;
    }
    .arrows a{
        width: 30px;
        height: 30px;
        margin-top: 10px;
    }
    .arrows .prev, .arrows .next{
        padding-top: 3px;
    
    } 
    .arrows .prev{
        margin-right: 5px;
    }
}